<header class = "jumbotron">
  <h1>Super Rentals</h1>
</header>

<div class="container">
  {{outlet}}
</div>

<hr>

<footer>
  {{#link-to 'index'}}Home{{/link-to}}
  {{#link-to 'contact'}}Our representatives would love to help!{{/link-to}}
  {{#link-to 'about'}}Learn More!{{/link-to}}
</footer>
